$logo-sign-max-width: 77px;
$logo-sign-width-xl: 40%;
$logo-sign-max-width-md: 48px;
$logo-sign-width-md: 48px;
$logo-sign-margin-right: rem(8px);
$logo-sign-margin-right-md: rem(4px);
$logo-text-max-width: 108px;
$logo-text-width-xl: 55%;
$logo-text-max-width-md: 67px;
$logo-text-width-md: 67px;

.logo {
  $this: &;
  &__link {
    display: flex;
    width: 100%;
  }
  &__sign {
    max-width: $logo-sign-max-width;
    margin-right: $logo-sign-margin-right;
    @include media-between(xl, xxl) {
      width: $logo-sign-width-xl;
    }
    @include media-max(xl) {
      max-width: $logo-sign-max-width-md;
      margin-right: $logo-sign-margin-right-md;
    }
    @include media-max(md) {
      display: none;
    }
  }
  &__text {
    max-width: $logo-text-max-width;
    @include media-between(xl, xxl) {
      width: $logo-text-width-xl;
    }
    @include media-max(xl) {
      max-width: $logo-text-max-width-md;
    }
    @include media-max(xxs) {
      width: 100%;
    }
  }


}