/*----------  1. BASE (START)  ----------*/
/*----------  2.1. RESET (START)  ----------*/
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

a,
button {
  text-decoration: none;
}
a:focus,
button:focus {
  outline: none;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  display: block;
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*----------  2.1. RESET (END)  ----------*/
/*----------  2.2. TYPOGRAPHY (START)  ----------*/
@font-face {
  font-family: "HelveticaNeue";
  src: url("../../assets/fonts/HelveticaNeue/HelveticaNeueCyr-Roman.eot");
  src: local("/assets/fonts/HelveticaNeue/HelveticaNeueCyr-Roman"), url("../../assets/fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../../assets/fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff") format("woff"), url("../../assets/fonts/HelveticaNeue/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../../assets/fonts/HelveticaNeue/HelveticaNeueCyr-Medium.eot");
  src: local("/assets/fonts/HelveticaNeue/HelveticaNeueCyr-Medium"), url("../../assets/fonts/HelveticaNeue/HelveticaNeueCyr-Medium.woff2") format("woff2"), url("../../assets/fonts/HelveticaNeue/HelveticaNeueCyr-Medium.woff") format("woff"), url("../../assets/fonts/HelveticaNeue/HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../../assets/fonts/HelveticaNeue/HelveticaNeueCyr-Bold.eot");
  src: local("/assets/fonts/HelveticaNeue/HelveticaNeueCyr-Bold"), url("../../assets/fonts/HelveticaNeue/HelveticaNeueCyr-Bold.woff2") format("woff2"), url("../../assets/fonts/HelveticaNeue/HelveticaNeueCyr-Bold.woff") format("woff"), url("../../assets/fonts/HelveticaNeue/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "RFDewi";
  src: local("../../assets/fonts/Dewi/RF Dewi Black"), local("RF-Dewi-Black"), url("../../assets/fonts/Dewi/RFDewi-Black.woff2") format("woff2"), url("../../assets/fonts/Dewi/RFDewi-Black.woff") format("woff"), url("../../assets/fonts/Dewi/RFDewi-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
/*----------  2.2. TYPOGRAPHY (END)  ----------*/
body {
  background-color: #FBFBFB;
  font: 400 16px HelveticaNeue;
  line-height: 1;
  color: #383838;
}

.underline-link {
  -webkit-transition: text-decoration 0.2e ease;
  -moz-transition: text-decoration 0.2e ease;
  -ms-transition: text-decoration 0.2e ease;
  -o-transition: text-decoration 0.2e ease;
  transition: text-decoration 0.2e ease;
  text-decoration: underline;
}
.underline-link__invert {
  text-decoration: none;
}
.underline-link__invert:hover {
  text-decoration: underline;
  -webkit-transition: text-decoration 0.2e ease;
  -moz-transition: text-decoration 0.2e ease;
  -ms-transition: text-decoration 0.2e ease;
  -o-transition: text-decoration 0.2e ease;
  transition: text-decoration 0.2e ease;
}
.underline-link:hover {
  text-decoration: none;
  -webkit-transition: text-decoration 0.2e ease;
  -moz-transition: text-decoration 0.2e ease;
  -ms-transition: text-decoration 0.2e ease;
  -o-transition: text-decoration 0.2e ease;
  transition: text-decoration 0.2e ease;
}

.clearfix {
  clear: both;
  float: none;
}

.no-wrap {
  white-space: nowrap;
}

/*----------  1. BASE (END)  ----------*/
/*----------  2. COMPONENTS (START)  ----------*/
h1, h2, h3 {
  font-family: RFDewi;
  font-weight: 900;
  color: #383838;
  text-transform: uppercase;
}

h1 {
  font-size: 2.8125rem;
  line-height: 1;
  letter-spacing: -0.02em;
}
@media (max-width: 1199px) {
  h1 {
    font-size: 2.8125rem;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-size: 2.1875rem;
  line-height: 1;
  letter-spacing: -0.02em;
}
@media (max-width: 1199px) {
  h2 {
    font-size: 2.1875rem;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 1.5625rem;
  }
}

h3 {
  font-size: 1.375rem;
  line-height: 1;
  letter-spacing: -0.01em;
}
@media (max-width: 1199px) {
  h3 {
    font-size: 1.375rem;
  }
}
@media (max-width: 767px) {
  h3 {
    font-size: 1.375rem;
  }
}

.link-button {
  white-space: nowrap;
  padding: 17px 27px;
  border: 1px solid #383838;
  box-sizing: border-box;
  border-radius: 100px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 900 1rem RFDewi;
  line-height: 1.1;
  color: #383838;
  -webkit-transition: padding 0.2s ease-in-out;
  -moz-transition: padding 0.2s ease-in-out;
  -ms-transition: padding 0.2s ease-in-out;
  -o-transition: padding 0.2s ease-in-out;
  transition: padding 0.2s ease-in-out;
}
.link-button img {
  height: 10px;
  margin-left: 10px;
  -webkit-transition: margin-left 0.2s ease-in-out;
  -moz-transition: margin-left 0.2s ease-in-out;
  -ms-transition: margin-left 0.2s ease-in-out;
  -o-transition: margin-left 0.2s ease-in-out;
  transition: margin-left 0.2s ease-in-out;
}
.link-button:hover {
  -webkit-transition: padding 0.2s ease-in-out;
  -moz-transition: padding 0.2s ease-in-out;
  -ms-transition: padding 0.2s ease-in-out;
  -o-transition: padding 0.2s ease-in-out;
  transition: padding 0.2s ease-in-out;
  padding-right: 24px;
}
.link-button:hover img {
  margin-left: 13px;
  -webkit-transition: margin-left 0.2s ease-in-out;
  -moz-transition: margin-left 0.2s ease-in-out;
  -ms-transition: margin-left 0.2s ease-in-out;
  -o-transition: margin-left 0.2s ease-in-out;
  transition: margin-left 0.2s ease-in-out;
}
@media (max-width: 767px) {
  .link-button {
    width: 100%;
  }
}
.link-button.no-border {
  border-radius: 0;
  border: none;
  padding: 0;
  justify-content: flex-start;
}
@media (max-width: 767px) {
  .link-button.no-border {
    width: auto;
  }
}

.arrow-link {
  font: 900 1.375rem RFDewi;
  line-height: 1.1;
  color: #383838;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.arrow-link img {
  max-width: 40px;
  max-height: 22px;
  margin-left: 13px;
}

/*----------  3. COMPONENTS (END)  ----------*/
/*----------  3 LAYOUT (START)  ----------*/
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}
.container_overflow-hidden {
  overflow: hidden;
}
@media (max-width: 1199px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (max-width: 767px) {
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}
@media (max-width: 1199px) {
  .row {
    margin-right: -10px;
    margin-left: -10px;
  }
}
@media (max-width: 767px) {
  .row {
    margin-right: -5px;
    margin-left: -5px;
  }
}

/*@include get-grid($column_count-x-_min_xl, $column_margin-x, $column_count-x-_min_md, $column_margin-x_min_md, $column_count-x-_min_xs, $column_margin-x_min_xs);*/
.col-xl__1 {
  -ms-flex: 0 0 4.347826087%;
  flex: 0 0 4.347826087%;
  max-width: 4.347826087%;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xl__2 {
  -ms-flex: 0 0 8.6956521739%;
  flex: 0 0 8.6956521739%;
  max-width: 8.6956521739%;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xl__3 {
  -ms-flex: 0 0 13.0434782609%;
  flex: 0 0 13.0434782609%;
  max-width: 13.0434782609%;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xl__4 {
  -ms-flex: 0 0 17.3913043478%;
  flex: 0 0 17.3913043478%;
  max-width: 17.3913043478%;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xl__5 {
  -ms-flex: 0 0 21.7391304348%;
  flex: 0 0 21.7391304348%;
  max-width: 21.7391304348%;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xl__6 {
  -ms-flex: 0 0 26.0869565217%;
  flex: 0 0 26.0869565217%;
  max-width: 26.0869565217%;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xl__7 {
  -ms-flex: 0 0 30.4347826087%;
  flex: 0 0 30.4347826087%;
  max-width: 30.4347826087%;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xl__8 {
  -ms-flex: 0 0 34.7826086957%;
  flex: 0 0 34.7826086957%;
  max-width: 34.7826086957%;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xl__9 {
  -ms-flex: 0 0 39.1304347826%;
  flex: 0 0 39.1304347826%;
  max-width: 39.1304347826%;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xl__10 {
  -ms-flex: 0 0 43.4782608696%;
  flex: 0 0 43.4782608696%;
  max-width: 43.4782608696%;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xl__11 {
  -ms-flex: 0 0 47.8260869565%;
  flex: 0 0 47.8260869565%;
  max-width: 47.8260869565%;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xl__12 {
  -ms-flex: 0 0 52.1739130435%;
  flex: 0 0 52.1739130435%;
  max-width: 52.1739130435%;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xl__13 {
  -ms-flex: 0 0 56.5217391304%;
  flex: 0 0 56.5217391304%;
  max-width: 56.5217391304%;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xl__14 {
  -ms-flex: 0 0 60.8695652174%;
  flex: 0 0 60.8695652174%;
  max-width: 60.8695652174%;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xl__15 {
  -ms-flex: 0 0 65.2173913043%;
  flex: 0 0 65.2173913043%;
  max-width: 65.2173913043%;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xl__16 {
  -ms-flex: 0 0 69.5652173913%;
  flex: 0 0 69.5652173913%;
  max-width: 69.5652173913%;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xl__17 {
  -ms-flex: 0 0 73.9130434783%;
  flex: 0 0 73.9130434783%;
  max-width: 73.9130434783%;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xl__18 {
  -ms-flex: 0 0 78.2608695652%;
  flex: 0 0 78.2608695652%;
  max-width: 78.2608695652%;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xl__19 {
  -ms-flex: 0 0 82.6086956522%;
  flex: 0 0 82.6086956522%;
  max-width: 82.6086956522%;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xl__20 {
  -ms-flex: 0 0 86.9565217391%;
  flex: 0 0 86.9565217391%;
  max-width: 86.9565217391%;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xl__21 {
  -ms-flex: 0 0 91.3043478261%;
  flex: 0 0 91.3043478261%;
  max-width: 91.3043478261%;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xl__22 {
  -ms-flex: 0 0 95.652173913%;
  flex: 0 0 95.652173913%;
  max-width: 95.652173913%;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xl__23 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

.offset-xl__0 {
  margin-left: 0%;
}

.offset-xl__1 {
  margin-left: 4.347826087%;
}

.offset-xl__2 {
  margin-left: 8.6956521739%;
}

.offset-xl__3 {
  margin-left: 13.0434782609%;
}

.offset-xl__4 {
  margin-left: 17.3913043478%;
}

.offset-xl__5 {
  margin-left: 21.7391304348%;
}

.offset-xl__6 {
  margin-left: 26.0869565217%;
}

.offset-xl__7 {
  margin-left: 30.4347826087%;
}

.offset-xl__8 {
  margin-left: 34.7826086957%;
}

.offset-xl__9 {
  margin-left: 39.1304347826%;
}

.offset-xl__10 {
  margin-left: 43.4782608696%;
}

.offset-xl__11 {
  margin-left: 47.8260869565%;
}

.offset-xl__12 {
  margin-left: 52.1739130435%;
}

.offset-xl__13 {
  margin-left: 56.5217391304%;
}

.offset-xl__14 {
  margin-left: 60.8695652174%;
}

.offset-xl__15 {
  margin-left: 65.2173913043%;
}

.offset-xl__16 {
  margin-left: 69.5652173913%;
}

.offset-xl__17 {
  margin-left: 73.9130434783%;
}

.offset-xl__18 {
  margin-left: 78.2608695652%;
}

.offset-xl__19 {
  margin-left: 82.6086956522%;
}

.offset-xl__20 {
  margin-left: 86.9565217391%;
}

.offset-xl__21 {
  margin-left: 91.3043478261%;
}

.offset-xl__22 {
  margin-left: 95.652173913%;
}

@media (max-width: 1199px) {
  .col-md__1 {
    -ms-flex: 0 0 11.1111111111%;
    flex: 0 0 11.1111111111%;
    max-width: 11.1111111111%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .col-md__2 {
    -ms-flex: 0 0 22.2222222222%;
    flex: 0 0 22.2222222222%;
    max-width: 22.2222222222%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .col-md__3 {
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .col-md__4 {
    -ms-flex: 0 0 44.4444444444%;
    flex: 0 0 44.4444444444%;
    max-width: 44.4444444444%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .col-md__5 {
    -ms-flex: 0 0 55.5555555556%;
    flex: 0 0 55.5555555556%;
    max-width: 55.5555555556%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .col-md__6 {
    -ms-flex: 0 0 66.6666666667%;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .col-md__7 {
    -ms-flex: 0 0 77.7777777778%;
    flex: 0 0 77.7777777778%;
    max-width: 77.7777777778%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .col-md__8 {
    -ms-flex: 0 0 88.8888888889%;
    flex: 0 0 88.8888888889%;
    max-width: 88.8888888889%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .col-md__9 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .offset-md__0 {
    margin-left: 0%;
  }

  .offset-md__1 {
    margin-left: 11.1111111111%;
  }

  .offset-md__2 {
    margin-left: 22.2222222222%;
  }

  .offset-md__3 {
    margin-left: 33.3333333333%;
  }

  .offset-md__4 {
    margin-left: 44.4444444444%;
  }

  .offset-md__5 {
    margin-left: 55.5555555556%;
  }

  .offset-md__6 {
    margin-left: 66.6666666667%;
  }

  .offset-md__7 {
    margin-left: 77.7777777778%;
  }

  .offset-md__8 {
    margin-left: 88.8888888889%;
  }
}
@media (max-width: 767px) {
  .col-xs__1 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    padding-right: 5px;
    padding-left: 5px;
  }

  .col-xs__2 {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
    padding-right: 5px;
    padding-left: 5px;
  }

  .col-xs__3 {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
    padding-right: 5px;
    padding-left: 5px;
  }

  .col-xs__4 {
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
    padding-right: 5px;
    padding-left: 5px;
  }

  .col-xs__5 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 5px;
    padding-left: 5px;
  }

  .offset-xs__0 {
    margin-left: 0%;
  }

  .offset-xs__1 {
    margin-left: 20%;
  }

  .offset-xs__2 {
    margin-left: 40%;
  }

  .offset-xs__3 {
    margin-left: 60%;
  }

  .offset-xs__4 {
    margin-left: 80%;
  }

  .col-sm__1 {
    -ms-flex: 0 0 11.1111111111%;
    flex: 0 0 11.1111111111%;
    max-width: 11.1111111111%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .col-sm__2 {
    -ms-flex: 0 0 22.2222222222%;
    flex: 0 0 22.2222222222%;
    max-width: 22.2222222222%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .col-sm__3 {
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .col-sm__4 {
    -ms-flex: 0 0 44.4444444444%;
    flex: 0 0 44.4444444444%;
    max-width: 44.4444444444%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .col-sm__5 {
    -ms-flex: 0 0 55.5555555556%;
    flex: 0 0 55.5555555556%;
    max-width: 55.5555555556%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .col-sm__6 {
    -ms-flex: 0 0 66.6666666667%;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .col-sm__7 {
    -ms-flex: 0 0 77.7777777778%;
    flex: 0 0 77.7777777778%;
    max-width: 77.7777777778%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .col-sm__8 {
    -ms-flex: 0 0 88.8888888889%;
    flex: 0 0 88.8888888889%;
    max-width: 88.8888888889%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .col-sm__9 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .offset-sm__0 {
    margin-left: 0%;
  }

  .offset-sm__1 {
    margin-left: 11.1111111111%;
  }

  .offset-sm__2 {
    margin-left: 22.2222222222%;
  }

  .offset-sm__3 {
    margin-left: 33.3333333333%;
  }

  .offset-sm__4 {
    margin-left: 44.4444444444%;
  }

  .offset-sm__5 {
    margin-left: 55.5555555556%;
  }

  .offset-sm__6 {
    margin-left: 66.6666666667%;
  }

  .offset-sm__7 {
    margin-left: 77.7777777778%;
  }

  .offset-sm__8 {
    margin-left: 88.8888888889%;
  }
}
@media (max-width: 575px) {
  .col-xs__1 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    padding-right: 5px;
    padding-left: 5px;
  }

  .col-xs__2 {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
    padding-right: 5px;
    padding-left: 5px;
  }

  .col-xs__3 {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
    padding-right: 5px;
    padding-left: 5px;
  }

  .col-xs__4 {
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
    padding-right: 5px;
    padding-left: 5px;
  }

  .col-xs__5 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 5px;
    padding-left: 5px;
  }

  .offset-xs__0 {
    margin-left: 0%;
  }

  .offset-xs__1 {
    margin-left: 20%;
  }

  .offset-xs__2 {
    margin-left: 40%;
  }

  .offset-xs__3 {
    margin-left: 60%;
  }

  .offset-xs__4 {
    margin-left: 80%;
  }
}
@media (max-width: 374px) {
  .col-xxs__1 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    padding-right: 5px;
    padding-left: 5px;
  }

  .col-xxs__2 {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
    padding-right: 5px;
    padding-left: 5px;
  }

  .col-xxs__3 {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
    padding-right: 5px;
    padding-left: 5px;
  }

  .col-xxs__4 {
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
    padding-right: 5px;
    padding-left: 5px;
  }

  .col-xxs__5 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 5px;
    padding-left: 5px;
  }

  .offset-xxs__0 {
    margin-left: 0%;
  }

  .offset-xxs__1 {
    margin-left: 20%;
  }

  .offset-xxs__2 {
    margin-left: 40%;
  }

  .offset-xxs__3 {
    margin-left: 60%;
  }

  .offset-xxs__4 {
    margin-left: 80%;
  }
}
.header {
  display: flex;
  align-items: center;
  height: 4.6875rem;
  margin-bottom: 24px;
  position: relative;
}
@media (max-width: 1199px) {
  .header {
    height: 3.125rem;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .header {
    margin-bottom: 15px;
  }
}
.header:after {
  content: "";
  width: calc(100% - 20px * 2);
  bottom: 0;
  left: 20px;
  height: 1px;
  background-color: #888888;
  position: absolute;
}
@media (max-width: 1199px) {
  .header:after {
    left: 20px;
    width: calc(100% - 20px * 2);
  }
}
@media (max-width: 767px) {
  .header:after {
    left: 10px;
    width: calc(100% - 10px * 2);
  }
}

.header-nav {
  display: flex;
  align-items: center;
}
.header-nav__list {
  display: flex;
  list-style-type: none;
}
.header-nav__item {
  margin-right: 3.75rem;
}
.header-nav__item:last-child {
  margin-right: 0;
}
.header-nav__item .arrow {
  width: 8px;
  margin-left: 8px;
  cursor: pointer;
}
.header-nav__item span {
  display: flex;
  align-items: center;
}
@media (max-width: 1399px) {
  .header-nav__item {
    margin-right: 2.8125rem;
  }
}
.header-nav__link {
  text-transform: uppercase;
  text-decoration: none;
  font-family: HelveticaNeue;
  font-size: 0.875rem;
  line-height: 1;
  color: #383838;
  font-weight: 500;
}
@media (max-width: 1199px) {
  .header-nav {
    display: none;
  }
}

.header-contacts {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-contacts__link {
  font-family: RFDewi;
  color: #383838;
  font-size: 1.3125rem;
  line-height: 1;
}
@media (max-width: 1399px) {
  .header-contacts__link {
    font-size: 1.125rem;
  }
}
@media (max-width: 1199px) {
  .header-contacts__link {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  .header-contacts__link {
    font-size: 0.875rem;
  }
}

.hamburger {
  width: 4.4375rem;
  display: flex;
  align-items: center;
  margin-left: 3.0625rem;
}
@media (max-width: 1399px) {
  .hamburger {
    margin-left: 1.5625rem;
  }
}
@media (max-width: 1199px) {
  .hamburger {
    width: 3.5rem;
  }
}
@media (max-width: 767px) {
  .hamburger {
    margin-left: 1.1875rem;
  }
}
@media (max-width: 374px) {
  .hamburger {
    widows: 2.5rem;
  }
}
.hamburger span {
  display: block;
  width: 100%;
  height: 3px;
  position: relative;
  background-color: #383838;
}
.hamburger span:before, .hamburger span:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #383838;
  position: absolute;
}
.hamburger span:before {
  top: -10px;
}
.hamburger span:after {
  top: 10px;
}

.logo__link {
  display: flex;
  width: 100%;
}
.logo__sign {
  max-width: 77px;
  margin-right: 0.5rem;
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .logo__sign {
    width: 40%;
  }
}
@media (max-width: 1199px) {
  .logo__sign {
    max-width: 48px;
    margin-right: 0.25rem;
  }
}
@media (max-width: 767px) {
  .logo__sign {
    display: none;
  }
}
.logo__text {
  max-width: 108px;
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .logo__text {
    width: 55%;
  }
}
@media (max-width: 1199px) {
  .logo__text {
    max-width: 67px;
  }
}
@media (max-width: 374px) {
  .logo__text {
    width: 100%;
  }
}

footer {
  font-family: HelveticaNeue;
  margin-top: 100px;
}

.footer__top-part {
  padding-bottom: 6px;
  position: relative;
}
.footer__top-part > div {
  display: flex;
  align-items: flex-end;
}
@media (max-width: 1199px) {
  .footer__top-part > div {
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
  }
}
.footer__top-part:after {
  content: "";
  width: calc(100% - 10px * 2);
  bottom: 0;
  left: 10px;
  height: 1px;
  background-color: #888888;
  position: absolute;
}
@media (max-width: 1199px) {
  .footer__top-part:after {
    left: 10px;
    width: calc(100% - 10px * 2);
  }
}
@media (max-width: 767px) {
  .footer__top-part:after {
    left: 5px;
    width: calc(100% - 5px * 2);
  }
}

.footer__block-label {
  font-size: 1rem;
  color: #888888;
  font-family: HelveticaNeue;
  font-weight: 400;
  text-transform: lowercase;
  margin-right: 1.5625rem;
  line-height: 1.4;
}
@media (max-width: 1199px) {
  .footer__block-label {
    font-size: 1.125rem;
    margin-bottom: 12px;
    line-height: 1.1;
  }
}
@media (max-width: 767px) {
  .footer__block-label {
    font-size: 1rem;
  }
}
.footer__value {
  font-family: HelveticaNeue;
  font-weight: 500;
  line-height: 1.3;
  color: #383838;
  font-size: 1.25rem;
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .footer__value {
    font-size: 1.0625rem;
  }
}

.footer__bottom-part {
  align-items: flex-end;
  padding-top: 78px;
  padding-bottom: 15px;
}
@media (max-width: 767px) {
  .footer__bottom-part {
    padding-top: 25px;
    padding-bottom: 10px;
    flex-direction: column;
    align-items: flex-start;
  }
}
.footer__copyright {
  font-size: 1rem;
  line-height: 1;
  color: #888888;
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer__copyright {
    font-size: 0.9375rem;
  }
}
@media (max-width: 413px) {
  .footer__copyright {
    font-size: 0.875rem;
  }
}
.footer .footer__confidential-link {
  text-transform: lowercase;
  color: #383838;
  font-size: 1rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer .footer__confidential-link {
    font-size: 0.9375rem;
  }
}
@media (max-width: 413px) {
  .footer .footer__confidential-link {
    font-size: 0.875rem;
  }
}
@media (max-width: 767px) {
  .footer .footer__confidential {
    white-space: nowrap;
  }
}
.footer__sagirov {
  display: flex;
  justify-content: flex-end;
}
.footer__sagirov a {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  font-size: 1rem;
  color: #888888;
  line-height: 1;
}
@media (max-width: 991px) {
  .footer__sagirov a {
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer__sagirov a {
    font-size: 0.9375rem;
  }
}
@media (max-width: 413px) {
  .footer__sagirov a {
    font-size: 0.875rem;
  }
}
.footer__sagirov a .made-in {
  white-space: nowrap;
  margin-right: 3px;
}
@media (max-width: 991px) {
  .footer__sagirov a .made-in {
    align-self: flex-start;
  }
}
.footer__sagirov img {
  width: 102px;
  margin-bottom: 3px;
}
@media (max-width: 413px) {
  .footer__sagirov img {
    width: 80px;
  }
}
@media (max-width: 767px) {
  .footer__sagirov {
    position: absolute;
    right: 10px;
  }
}

.footer__contacts-value {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1199px) {
  .footer__contacts-primary {
    order: 1;
    margin-bottom: 75px;
  }
}
@media (max-width: 575px) {
  .footer__contacts-primary {
    margin-bottom: 75px;
  }
}

.footer__socials-block {
  padding-bottom: 6px;
  display: flex;
  flex-direction: row;
}
.footer__socials-block a {
  margin-right: 1rem;
}
.footer__socials-block a:last-child {
  margin-right: 0;
}
.footer__socials-block img {
  width: 26px;
}
@media (max-width: 1199px) {
  .footer__socials {
    order: 3;
    margin-bottom: 58px;
  }
}
@media (max-width: 575px) {
  .footer__socials {
    order: 4;
    margin-bottom: 40px;
  }
}

.footer__working-hours {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer__working-day {
  display: flex;
  flex-direction: row;
}
.footer__days {
  white-space: nowrap;
  margin-right: 1.4375rem;
}
.footer__time div {
  font-size: 1rem;
  line-height: 1.1;
  font-weight: 500;
  margin-bottom: 21px;
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .footer__time div {
    font-size: 0.875rem;
  }
}
@media (max-width: 1199px) {
  .footer__adress {
    order: 2;
    margin-bottom: 75px;
  }
}
@media (max-width: 575px) {
  .footer__adress {
    margin-bottom: 43px;
  }
}
@media (max-width: 1199px) {
  .footer__working-hours {
    order: 4;
    margin-bottom: 58px;
  }
}
@media (max-width: 575px) {
  .footer__working-hours {
    order: 3;
    margin-bottom: 65px;
  }
}

/*----------  3. LAYOUT (END)  ----------*/
/*----------  4 PAGES (START)  ----------*/
.about-list-block {
  margin-top: 126px;
}
.about-list-block__title {
  padding-bottom: 9px;
  margin-bottom: 26px;
  position: relative;
  line-height: 1.1;
}
.about-list-block__title:after {
  content: "";
  width: calc(100% - 10px * 2);
  bottom: 0;
  left: 10px;
  height: 1px;
  background-color: #888888;
  position: absolute;
}
@media (max-width: 1199px) {
  .about-list-block__title:after {
    left: 10px;
    width: calc(100% - 10px * 2);
  }
}
@media (max-width: 767px) {
  .about-list-block__title:after {
    left: 5px;
    width: calc(100% - 5px * 2);
  }
}
@media (max-width: 767px) {
  .about-list-block__title {
    margin-bottom: 10px;
  }
}
@media (max-width: 1199px) {
  .about-list-block {
    margin-top: 129px;
  }
}
@media (max-width: 767px) {
  .about-list-block {
    margin-top: 66px;
  }
}

.about-list {
  padding-bottom: 20px;
  position: relative;
}
.about-list:after {
  content: "";
  width: calc(100% - 20px * 2);
  bottom: 0;
  left: 20px;
  height: 1px;
  background-color: #888888;
  position: absolute;
}
@media (max-width: 1199px) {
  .about-list:after {
    left: 20px;
    width: calc(100% - 20px * 2);
  }
}
@media (max-width: 767px) {
  .about-list:after {
    left: 10px;
    width: calc(100% - 10px * 2);
  }
}
@media (max-width: 767px) {
  .about-list {
    padding-bottom: 113px;
  }
}

.about-list-block__content-titles {
  font-size: 1.8125rem;
  font-weight: 500;
  line-height: 1.1;
}
.about-list-block__content-titles > div {
  margin-bottom: 29px;
}
@media (max-width: 1199px) {
  .about-list-block__content-titles > div {
    margin-bottom: 25px;
  }
}
@media (max-width: 767px) {
  .about-list-block__content-titles > div br {
    display: none;
  }
}
@media (max-width: 1199px) {
  .about-list-block__content-titles {
    font-size: 1.5rem;
  }
}
@media (max-width: 767px) {
  .about-list-block__content-titles {
    margin-bottom: 60px;
    margin-top: 60px;
  }
}

.about-list-block__content-list li {
  margin-bottom: 40px;
  font-weight: 500;
  line-height: 1.1;
}
.about-list-block__content-list li:before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  margin-bottom: 8px;
  background-color: #383838;
}

.about-list-block__image {
  margin-top: 250px;
}
@media (max-width: 1199px) {
  .about-list-block__image {
    margin-top: 80px;
  }
}
@media (max-width: 767px) {
  .about-list-block__image {
    margin-top: 0;
    order: -1;
    display: flex;
    flex-direction: column;
  }
  .about-list-block__image img {
    order: -1;
  }
}
.about-list-block__project-link {
  text-align: right;
  margin-bottom: 13px;
}
.about-list-block__project-link a {
  color: #888888;
  line-height: 1.1;
}
@media (max-width: 767px) {
  .about-list-block__project-link {
    margin-bottom: 0;
    margin-top: 10px;
    text-align: left;
  }
}

.no-padding {
  padding-right: 0;
  padding-left: 0;
}

.guarantee-block {
  margin-top: 25px;
  margin-bottom: 244px;
}
@media (max-width: 1199px) {
  .guarantee-block {
    margin-bottom: 176px;
  }
}
@media (max-width: 767px) {
  .guarantee-block {
    margin-top: 15px;
    margin-bottom: 150px;
  }
}
.guarantee-block__content {
  line-height: 1.1;
}
@media (max-width: 1199px) {
  .guarantee-block__content {
    margin-top: 75px;
  }
}
.guarantee-block__big-text {
  font-weight: 500;
  font-size: 1.8125rem;
  display: inline;
}
@media (max-width: 1199px) {
  .guarantee-block__big-text {
    font-size: 1.5rem;
  }
}
.guarantee-block__small-text {
  width: 54%;
  float: right;
  margin-top: 9px;
}
@media (max-width: 1199px) {
  .guarantee-block__small-text {
    margin-top: 7px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .guarantee-block__small-text {
    float: none;
    margin-top: 23px;
  }
}
.guarantee-block__button-block {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  clear: both;
  width: 100%;
}
.guarantee-block__button-block p {
  width: 54%;
}
@media (max-width: 1199px) {
  .guarantee-block__button-block p {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .guarantee-block__button-block p {
    order: -1;
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .guarantee-block__button-block {
    flex-wrap: wrap;
  }
}

.certificate__item {
  position: relative;
  margin-bottom: 120px;
}
.certificate__item:before {
  content: "";
  width: calc(100% - 10px * 2);
  top: 0;
  left: 10px;
  height: 1px;
  background-color: #888888;
  position: absolute;
}
@media (max-width: 1199px) {
  .certificate__item:before {
    left: 10px;
    width: calc(100% - 10px * 2);
  }
}
@media (max-width: 767px) {
  .certificate__item:before {
    left: 5px;
    width: calc(100% - 5px * 2);
  }
}
@media (max-width: 767px) {
  .certificate__item {
    margin-bottom: 150px;
  }
}

.col-cert-xl__1 {
  -ms-flex: 0 0 9.0909090909%;
  flex: 0 0 9.0909090909%;
  max-width: 9.0909090909%;
  padding-right: 10px;
  padding-left: 10px;
}

.col-cert-xl__2 {
  -ms-flex: 0 0 18.1818181818%;
  flex: 0 0 18.1818181818%;
  max-width: 18.1818181818%;
  padding-right: 10px;
  padding-left: 10px;
}

.col-cert-xl__3 {
  -ms-flex: 0 0 27.2727272727%;
  flex: 0 0 27.2727272727%;
  max-width: 27.2727272727%;
  padding-right: 10px;
  padding-left: 10px;
}

.col-cert-xl__4 {
  -ms-flex: 0 0 36.3636363636%;
  flex: 0 0 36.3636363636%;
  max-width: 36.3636363636%;
  padding-right: 10px;
  padding-left: 10px;
}

.col-cert-xl__5 {
  -ms-flex: 0 0 45.4545454545%;
  flex: 0 0 45.4545454545%;
  max-width: 45.4545454545%;
  padding-right: 10px;
  padding-left: 10px;
}

.col-cert-xl__6 {
  -ms-flex: 0 0 54.5454545455%;
  flex: 0 0 54.5454545455%;
  max-width: 54.5454545455%;
  padding-right: 10px;
  padding-left: 10px;
}

.col-cert-xl__7 {
  -ms-flex: 0 0 63.6363636364%;
  flex: 0 0 63.6363636364%;
  max-width: 63.6363636364%;
  padding-right: 10px;
  padding-left: 10px;
}

.col-cert-xl__8 {
  -ms-flex: 0 0 72.7272727273%;
  flex: 0 0 72.7272727273%;
  max-width: 72.7272727273%;
  padding-right: 10px;
  padding-left: 10px;
}

.col-cert-xl__9 {
  -ms-flex: 0 0 81.8181818182%;
  flex: 0 0 81.8181818182%;
  max-width: 81.8181818182%;
  padding-right: 10px;
  padding-left: 10px;
}

.col-cert-xl__10 {
  -ms-flex: 0 0 90.9090909091%;
  flex: 0 0 90.9090909091%;
  max-width: 90.9090909091%;
  padding-right: 10px;
  padding-left: 10px;
}

.col-cert-xl__11 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

.offset-cert-xl__0 {
  margin-left: 0%;
}

.offset-cert-xl__1 {
  margin-left: 9.0909090909%;
}

.offset-cert-xl__2 {
  margin-left: 18.1818181818%;
}

.offset-cert-xl__3 {
  margin-left: 27.2727272727%;
}

.offset-cert-xl__4 {
  margin-left: 36.3636363636%;
}

.offset-cert-xl__5 {
  margin-left: 45.4545454545%;
}

.offset-cert-xl__6 {
  margin-left: 54.5454545455%;
}

.offset-cert-xl__7 {
  margin-left: 63.6363636364%;
}

.offset-cert-xl__8 {
  margin-left: 72.7272727273%;
}

.offset-cert-xl__9 {
  margin-left: 81.8181818182%;
}

.offset-cert-xl__10 {
  margin-left: 90.9090909091%;
}

@media (max-width: 767px) {
  .col-cert-xs__1 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    padding-right: 5px;
    padding-left: 5px;
  }

  .col-cert-xs__2 {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
    padding-right: 5px;
    padding-left: 5px;
  }

  .col-cert-xs__3 {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
    padding-right: 5px;
    padding-left: 5px;
  }

  .col-cert-xs__4 {
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
    padding-right: 5px;
    padding-left: 5px;
  }

  .col-cert-xs__5 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 5px;
    padding-left: 5px;
  }

  .offset-cert-xs__0 {
    margin-left: 0%;
  }

  .offset-cert-xs__1 {
    margin-left: 20%;
  }

  .offset-cert-xs__2 {
    margin-left: 40%;
  }

  .offset-cert-xs__3 {
    margin-left: 60%;
  }

  .offset-cert-xs__4 {
    margin-left: 80%;
  }
}
.certificate__name-block {
  margin-top: 8px;
  margin-bottom: 48px;
  line-height: 1.1;
  display: flex;
  flex-direction: row;
}
@media (max-width: 767px) {
  .certificate__name-block {
    margin-top: 11px;
  }
}
.certificate__name {
  font-size: 1.8125rem;
  font-weight: 500;
}
@media (max-width: 767px) {
  .certificate__name {
    font-size: 1.5rem;
  }
}
.certificate__country {
  font-size: 1rem;
}
.certificate__logo img {
  height: 53px;
  width: auto;
  object-fit: contain;
}
@media (max-width: 767px) {
  .certificate__logo img {
    height: 30px;
  }
}
@media (max-width: 1199px) {
  .certificate__logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.certificate__row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.certificate__status {
  line-height: 1.1;
  font-weight: 500;
}
@media (max-width: 767px) {
  .certificate__status {
    margin-left: 0;
  }
}
.certificate__text {
  line-height: 1.1;
}
@media (max-width: 767px) {
  .certificate__text {
    margin: 2px 0 6px;
  }
}
.certificate__image img {
  max-width: 72px;
}
@media (max-width: 767px) {
  .certificate__image img {
    max-width: 111px;
  }
}
.certificate__more {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
@media (max-width: 1199px) {
  .certificate__more {
    justify-content: flex-end;
  }
}
@media (max-width: 767px) {
  .certificate__more {
    order: 10;
  }
}

.project {
  padding-bottom: 20px;
}
.project__name {
  margin-bottom: 80px;
}
.project__name .mobile-title {
  display: none;
}
@media (max-width: 767px) {
  .project__name {
    margin-bottom: 50px;
    margin-top: 65px;
    display: flex;
    flex-direction: row;
  }
  .project__name .mobile-title {
    display: block;
    width: calc(100% - 60%);
  }
}
.project.large {
  position: relative;
}
.project.large:after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: #888888;
  position: absolute;
  right: 0;
  top: 0;
}
@media (max-width: 1199px) {
  .project.large {
    order: 10;
  }
  .project.large:after {
    right: 100%;
  }
}
@media (max-width: 767px) {
  .project.large {
    order: -1;
  }
  .project.large:after {
    width: calc(100% - 10px);
    left: 5px;
    height: 1px;
    bottom: 0;
    top: auto;
  }
}
.project__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  line-height: 1.1;
  margin-bottom: 13px;
}
.project__square {
  font-size: 1.125rem;
  font-weight: 500;
}
.project__rooms, .project__year {
  font-size: 1rem;
}
@media (max-width: 767px) {
  .project.small .project__name {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
  }
  .project.small .project__name .mobile-title {
    display: block;
    width: calc(100% - 60%);
  }
}
@media (max-width: 767px) {
  .project.small .project__info {
    margin-left: calc(100% - 60%);
    width: 60%;
  }
}
@media (max-width: 767px) {
  .project.small .project__image {
    margin-left: calc(100% - 60%);
    width: 60%;
  }
}
@media (max-width: 767px) {
  .project.small {
    position: relative;
  }
  .project.small:after {
    content: "";
    display: block;
    width: calc(60% - 10px/2);
    height: 1px;
    background-color: #888888;
    right: 5px;
    bottom: 0;
    position: absolute;
  }
}

.reverse .project.large:after {
  right: 100%;
}
@media (max-width: 1199px) {
  .reverse .project.large {
    order: -1;
  }
  .reverse .project.large:after {
    right: 0;
  }
}
.our-projects {
  position: relative;
  padding-top: 26px;
}
.our-projects:before {
  content: "";
  width: calc(100% - 20px * 2);
  top: 0;
  left: 20px;
  height: 1px;
  background-color: #888888;
  position: absolute;
}
@media (max-width: 1199px) {
  .our-projects:before {
    left: 20px;
    width: calc(100% - 20px * 2);
  }
}
@media (max-width: 767px) {
  .our-projects:before {
    left: 10px;
    width: calc(100% - 10px * 2);
  }
}
@media (max-width: 1199px) {
  .our-projects h2 {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .our-projects h2 {
    margin-bottom: 15px;
  }
}
.our-projects__item {
  position: relative;
}
.our-projects__item:after {
  content: "";
  width: calc(100% - 10px * 2);
  bottom: 0;
  left: 10px;
  height: 1px;
  background-color: #888888;
  position: absolute;
}
@media (max-width: 1199px) {
  .our-projects__item:after {
    left: 10px;
    width: calc(100% - 10px * 2);
  }
}
@media (max-width: 767px) {
  .our-projects__item:after {
    left: 5px;
    width: calc(100% - 5px * 2);
  }
}
@media (max-width: 767px) {
  .our-projects__item:after {
    display: none;
  }
}
.our-projects__content > .container:not(:first-child) .project__name {
  margin-top: 150px;
}
@media (max-width: 767px) {
  .our-projects__content > .container:not(:first-child) .project__name {
    margin-top: 65px;
  }
}
.our-projects__buttons {
  display: flex;
  flex-direction: row;
}
.our-projects__buttons .go-to-houses {
  margin-right: 10px;
}
@media (max-width: 767px) {
  .our-projects__buttons .go-to-houses {
    margin-bottom: 10px;
  }
}
@media (max-width: 1199px) {
  .our-projects__buttons {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .our-projects__buttons a {
    width: auto;
  }
}
.our-projects__title-line {
  margin-bottom: 250px;
}
@media (max-width: 1199px) {
  .our-projects__title-line {
    margin-bottom: 194px;
  }
}
@media (max-width: 767px) {
  .our-projects__title-line {
    margin-bottom: 59px;
  }
}
.our-projects__subtitle {
  line-height: 1.1;
}
@media (max-width: 1199px) {
  .our-projects__subtitle {
    margin-bottom: 53px;
  }
}
@media (max-width: 767px) {
  .our-projects__subtitle {
    margin-bottom: 69px;
  }
}
@media (max-width: 1199px) {
  .our-projects {
    padding-top: 25px;
  }
}
@media (max-width: 767px) {
  .our-projects {
    padding-top: 15px;
  }
}

/*----------  4 PAGES (END)  ----------*/

/*# sourceMappingURL=index.css.map */
