$container_padding-x: 20px;
$container_padding-x_max-xl: 20px;
$container_padding-x_max-md: 10px;

$column_count-x-_min_xl: 23;
$column_count-x-_min_md: 9;
$column_count-x-_min_xs: 5;

$column_margin-x: 20px;
$column_margin-x_min_md: 20px;
$column_margin-x_min_xs: 10px;