$min-breakpoints: (
        xxs: 375px,
        xs: 414px,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px,
);

$max-breakpoints: ();

// заполняет карту max-breakpoints основываясь на значениях из карты min-breakpoints минус 1px
@each $name in map-keys($min-breakpoints) {
  $max-breakpoint-value: map-get($min-breakpoints, $name) - 1px;
  $max-breakpoint: (
          $name: $max-breakpoint-value,
  );
  $max-breakpoints: map-merge($max-breakpoints, $max-breakpoint);
}